:root {
    --background: rgb(248, 246, 246);
    --header-background: pink;
    --footer-background: lightblue;
}

html, body {
    height: 100%;
    width: 100%
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.hiding-places {
    height: 300px;
    display: flex;
}

.hiding_place {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hiding-img {
    width: 200px;
    height: 200px;
    margin: auto;
}

#reset-button{
    justify-content: center;
    align-items: center;
    margin: auto;
}